@page "/Projects/{ProjectId:int}/Issues/{IssueId:int}"
@inherits IssueBase

@inject IJSRuntime jsr

@code{

    string NewBrainStormName { get; set; }

    bool isEditMode = false;
    public BrainStormModel? editBrainStorm;


    public async Task NewBrainStormPressed()
    {
        if (NewBrainStormName.Equals("") )
        {
            return;
        }
        await BrainStormerService.CreateBrainStorm(new BrainStormModel { Name = NewBrainStormName, IssueId = Issue.Id });
        await this.OnInitializedAsync();
        NewBrainStormName = "";
    }

    public async Task EditMode(BrainStormModel brainStorm)
    {
        editBrainStorm = brainStorm;
        isEditMode = true;
        NewBrainStormName = brainStorm.Name;
        await this.OnInitializedAsync();
    }

    public async Task EditSave()
    {
        if (editBrainStorm != null)
        {
            editBrainStorm.Name = NewBrainStormName;
            await this.BrainStormerService.EditBrainStorm(editBrainStorm.Id, editBrainStorm);
        isEditMode=false;
            NewBrainStormName = "";
            await this.OnInitializedAsync();
        }
    }

    public async Task JudgeBrainStorm(int brainStormId,bool isChoosen)
    {
        var userToken = await jsr.InvokeAsync<string>("localStorage.getItem", "token").ConfigureAwait(false);
        
        var resp = await this.BrainStormerService.JudgeBrainStorm(brainStormId,userToken);
        if (resp.result.choices[0].message.content.Contains("Yes") && !isChoosen)
        {
            await BrainStormerService.SetToChosen(brainStormId);
            await this.OnInitializedAsync();
        }
        else if (!resp.result.choices[0].message.content.Contains("Yes") && isChoosen )
        {
            await BrainStormerService.SetToChosen(brainStormId);
            await this.OnInitializedAsync();
        }
        StateHasChanged();
    }

    public async Task GenerateWithAI()
    {
        var userToken = await jsr.InvokeAsync<string>("localStorage.getItem", "token").ConfigureAwait(false);
        var resp = await this.BrainStormerService.GenerateBrainStorm(IssueId, userToken);
        await BrainStormerService.CreateBrainStorm(new BrainStormModel { Name = resp, IssueId = Issue.Id });
        StateHasChanged();
        await this.OnInitializedAsync();

    }
}


@if (
    @Issue == null || @BrainStorms == null)
{
    <h3>Loading...</h3>
}
else
{

    <h1 class="display-3">
        Issue:
        <small class="text-muted"> @Issue.Name</small>
    </h1>
    <h4>@Issue.Description</h4>


    <br/>

    <h3>Brainstorm</h3>

    var editMode = isEditMode ? "Edit Mode" : "Add a Brainstorm";
    var editModeColor = isEditMode ? "text-white bg-warning mb-3" : "text-white bg-primary mb-3";
    <div class="card @editModeColor">
        <div class="card-body">
            <h5 class="card-title">@editMode</h5>
            <input type="text" class="form-control" placeholder="Idea" @bind="NewBrainStormName" />
            <br />
            @if (isEditMode==false)
            {
                <input type="button" class="btn btn-primary" value="Save" @onclick="async () => await NewBrainStormPressed()" />
            }
            else
            {
                <input type="button" class="btn btn-primary" value="Save changes" @onclick="async () =>await EditSave()" />
            }
            
        </div>
    </div>

    <input type="button" class="btn btn-primary" value="AI Generate" @onclick="async () =>await GenerateWithAI()" />


    <br/>
    <br/>


    @foreach (BrainStormModel brainStorm in BrainStorms.Where((model => model.Visibility == true)))
    {
        var color = brainStorm.IsChosen ? "text-white bg-success mb-3" : "";
        var mark = brainStorm.IsChosen ? "Remove mark" : "Marked as good";
        <div class="card @color">
            <div class="card-body">
                <h5 class="card-title">@brainStorm.Name</h5>
                <InputBase type="button" class="btn btn-danger" @onclick="async () => {await BrainStormerService.HideBrainStorm(brainStorm.Id); await this.OnInitializedAsync();}">Hide</InputBase>
                <input type="button" class="btn btn-info" @onclick="async () => { await BrainStormerService.SetToChosen(brainStorm.Id); await this.OnInitializedAsync();}" value="@mark" />
                <input type="button" class="btn btn-warning" @onclick="async () => { await EditMode(brainStorm);}" value="Edit" />
                <input type="button" class="btn btn-dark" @onclick="async () => this.JudgeBrainStorm(brainStorm.Id,brainStorm.IsChosen)" value="AI Judge" />
                <a href="@($"/Projects/{ProjectId}/Issues/{IssueId}/BrainStorms/{brainStorm.Id}")" class="btn btn-primary">Go to BrainStorm</a>
            </div>
        </div>
    }




}